<!DOCTYPE html>
<html xmlns:th="htts://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>

    <!-- Bootstrap Stylesheet -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/contactUs.css">

</head>
<body>

<div class="container-fluid">

    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-xl navbar-dark">
        <a class="navbar-brand" href="/">VedVeera Academy</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-primary link-button" ><a href="/login">Login</a></button>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!-- Contact Us Form Div -->
<div class="container">
    <div class="row m-5 mt-1 mb-0 justify-content-center">
        <form id="form" class="m-3 col-md-10 text-center" action="/contact-us" method="POST" >
            <div class="row">
                <div id="msg" class="col-lg-6 p-3">
                    <img src="images/teacher.jpg" class="img-fluid image" alt="Image" width="350px"><br><br>
                    <div class="info pt-4">
                        <h1>Thanks for your Feedback</h1>
                        <h5>- VedVeera Academy</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="m-3 pe-4">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" required id="name" placeholder="Name" name="name">
                    </div>
                    <div class="m-3 pe-4">
                        <label for="Email" class="form-label">Email</label>
                        <input type="email" class="form-control" required id="email" aria-describedby="emailHelp" name="email" placeholder="Email">
                    </div>
                    <div class="m-3 pe-4">
                        <label for="course" class="form-label">Course</label>
                        <select class="form-control" required id="course" name="course">
                            <option value="none">None</option>
                            <option value="Other Courses">Other Course</option>
                        </select>
                    </div>
                    <div class="m-3 pe-4">
                        <label for="contactNum" class="form-label">Contact Number</label>
                        <input type="number" class="form-control" required id="contactNum" name="contactNum" placeholder="Contact Number">
                    </div>
                    <div class="m-3 pe-4">
                        <label for="Message" class="form-label">Message</label>
                        <textarea rows="5" class="form-control" required id="message" placeholder="Message" name="message"></textarea>
                    </div>
                    <div class="text-center pe-4">
                        <button type="submit" class="btn btn-primary mt-3 ">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- End of Contact Us Form Div -->



<!-- Footer -->

<footer id="footer">
    <div class="icons">
        <i class="fab fa-twitter footer-icon"></i>
        <i class="fab fa-facebook-f footer-icon"></i>
        <i class="fab fa-instagram footer-icon"></i>
        <a href="mailto:veenaasole@gmail.com"><i class="fas fa-envelope footer-icon"></i></a>
    </div>
    <p>© Copyright 2022 Ved Veera Academy</p>
</footer>

<!-- End of Footer -->

<!-- Bootstrap Javascript -->
<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>